* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.separador {
  height: 250px;
}

body{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
     }
     
    
.menu {
    display: flex;
    align-items: center;
    }

.menu ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
.menu li {
      list-style: none;
    }

.menu li a {
      color: black;
      text-decoration: none;
    }


#header {
      background-color: white;
    }

i,ul,li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.mini_logo {
    width: 30px;
  }

.logo {
    width: 400px;
  }

.logo img {
    width: 100%;
    padding: 5 55px 5 55px;
  }

.content {
  background-color: white;
  padding: 10px;
}

.container {
    width: 1300px;
    margin: 0 auto 0 auto;
  
  }

.container_fluid{
    width: 100%;
  }

.top2 {
    border-bottom: 3px solid yellow;
  }

.fila {
    display: flex;
  }

.efecto {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

.menu_principal {
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

.menu_principal li {
    width: 120px;
    margin: 1 10px 0 15px;
    background-color: gainsboro;
    padding: 10px;
    text-align: center;
  }

.menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.menu_top2 {
    width: 100%;
  }

.menu_top2 li {
    width: 100%;
    padding: 15px;
    text-align: center;
  }

.menu_top1 {
    margin-bottom: 30px;
  }
.menu_top1 ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }

.menu_top1 ul li {
    padding: 1 15px 0 15px;
  }
  .menu_top1 ul li:last-child {
    border-left: 2px solid grey;
  }

.menu_top1 ul li a {
    color: grey;
  }


.boton-azul {
    background-color: blue;
    color: white;
  }

  .boton {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-family: "Oswald", sans-serif;
  }
.boton-blanco {
    background-color: white;
    text-decoration: none;
    color: blue; 
    font-weight: bold;
  }